<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>530823370034-98tfa1n1f50ur4gqs1s5qm270pkdp70n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.530823370034-98tfa1n1f50ur4gqs1s5qm270pkdp70n</string>
	<key>API_KEY</key>
	<string>AIzaSyB6ghfdPXXxYwWp-UpXf5h5z_V09z1T_go</string>
	<key>GCM_SENDER_ID</key>
	<string>530823370034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Mar-iguana-Tours.project</string>
	<key>PROJECT_ID</key>
	<string>mariguanapp-8b189</string>
	<key>STORAGE_BUCKET</key>
	<string>mariguanapp-8b189.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:530823370034:ios:05e8853663098b1cb8732b</string>
	<key>DATABASE_URL</key>
	<string>https://mariguanapp-8b189-default-rtdb.firebaseio.com</string>
</dict>
</plist>